<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
      <h1>Add a Dinosaur</h1>
      <%= simple_form_for [@park, @dinosaur] do |f| %>
        <%= f.input :name %>
        <!-- old way -->
        <%#= f.input :image_url %>
        <%= f.input :photo, as: :file %>
        <%= f.submit 'Add', class: 'btn btn-success mt-2 w-100' %>
      <% end %>
    </div>
  </div>
</div>